nav
{
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}

#navbar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: -20%; */
}


.logo
{
  display: flex;
  margin-left: 10%;
  justify-content: start;    
}

.action-btn
{
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  background-image: linear-gradient(to right, #f6d365 0%, #f96941 51%, #f6d365 100%);
  padding: 2.5px 0.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  background-size: 200% auto;
  transition: scale 0.2 ease;
  box-shadow: 0 0 20px #5c2e82;
  cursor: pointer;
  justify-content: end; 
  /* margin-left: 10%; */
}

.action-btn:hover {
  background-position: right center;
  scale: 1.05
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  color: #1f1f29;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

/* 
#navbar li a:hover, #navbar li a.active  {
  color: #cf8748;
  font-size: 1.4rem;
} */

#navbar li a:hover::after, #navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #cf8748;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i
{
  color: rgb(171, 139, 79);
  cursor: pointer;
  font-weight: bolder;
}

@media screen and (max-width: 919px) 
{
  #navbar li a {
    
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 860px) 
{
  #navbar li a {
    
    font-size: 1rem;
    font-weight: 500;
  }
  nav
  {
    height: 5rem;
  }
}
@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #8f9398;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }

  #navbar li {
    color: aliceblue;
    margin-bottom: 25px;
  }

  #navbar li a {
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }
  
  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 30px;
    cursor: pointer;
  }
  nav
  {
    height: 2rem;
  }
  .action-btn
  {
    width: 200px;
    font-size: 1.6rem;
    
  }
}